*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    height:100%;
    width:100%;
}
.container{
    max-width:75vw;
    padding:2rem 1rem;
    margin:0 auto;
    background-color: aqua;
    

}
a{
    text-decoration: none;
}
.header_container{
    margin-bottom: 2.8rem;
}
.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
}
.header_description{
    max-width: 768px;
    text-align: center;
    color: red;
    margin:0 auto;
}
.main_container{
    display: grid;
    /* grid-template-columns: repeat(4,1fr);   */
    /* display: flex; */
    justify-content: center;
    align-items: center;
   
    grid-template-columns: repeat(auto-fit,minmax(250px,350px));
    gap:1.5rem;
    
}
/* @media (min-width:650px){
    .main_container{
    grid-template-columns: repeat(2,1fr);
    }

}
@media (min-width:1080px){
    .main_container{
    grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1200px){
    .main_container{
    grid-template-columns: repeat(4,1fr);
    }
}   */
.card_container{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    border:2px solid rgb(163, 141, 141);
    border-radius: 8px;
}
.card_image_container{
    height:7rem;
    position: relative;
    overflow:hidden;
}
@media (min-width:768px){
    .card_image_container{
    height: 12rem;
    }
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width:100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding:1.5rem;
}
.card_container:hover  .card_image{
    transform: scale(1.1);
    transition: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 4rem;
    color: black;
    margin-bottom: 0.3rem;
}
.card_title_anchor:hover .card_title{
    color: rgb(23, 23, 129);
}
.card_description{
    color: rgb(73, 73, 231);
    font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: end;
    padding-bottom: 1.5rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;

}
.author_avatar_container{
    width: 50px; /* Adjust width based on your design */
    height: 50px; /* Adjust height based on your design */
    overflow: hidden; /* Hide any overflow of the image */
    border-radius: 50%; /* Make the container circular */
}
.author_avatar_information{
    display: flex;
    flex-direction: column;
}
.name{
    color: blueviolet;

}
.date{
    color: grey;
}
.card_tag_container{
    font-size:0.8rem;
    border:1px solid rgb(78, 55, 55);
    border-radius: 5px;
    line-height:1.3rem;
    padding:0.25rem 0.5rem;
    color:rgb(156, 116, 116)

}
.author_avatar{
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Ensure the image height matches the container */
    object-fit: cover; /* Ensure the image scales to cover the container */
    border-radius: 50%; /* Ensure the image is circular */
}
.body_container{
    padding:10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
